<div class="user-center">
  {{> '../../partials/head/back_view.hbs'}}
  <div class="body">
    <div class="main-left">
      {{> '../../partials/sidebar/view.hbs'}}
    </div>
    <div class="main-right">
      <div class="content subject-manage">
        <p class="bread-crumb">科目管理</p>
        <div class="ops">
          <a href="javascript:;" class='btn btn-primary js-create-subject'>创建科目</a>
        </div>
        <table class="table">
          <thead>
            <th>科目ID</th>
            <th>科目名</th>
            <th>创建时间</th>
            <th>创建者</th>
            <th>操作</th>
          </thead>
          <tbody>
            {{#each DATA}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{create_time}}</td>
              <td>{{#if create_user}}{{create_user}}{{else}}-{{/if}}</td>
              <td>
                <a href="javascript:;" class="js-edit-subject" data-info='{{tstring this}}'>编辑</a>
                <a href="javascript:;" data-id='{{id}}' class="js-del-subject">删除</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
