<div class="modal create-course">
  <div class="modal-head">
    <h3>{{#if data}}编辑{{else}}创建{{/if}}课程</h3>
  </div>
  <div class="modal-body">
    <form class="form course-form" id='course-form' data-id='{{data.id}}'>
      <span>备注：带<strong>*</strong>为必填项</span>
      <input type="hidden" name="subject_id" value="{{data.subject_id}}">
      {{#if data.id}}
        <div class="input-group">
          <label for="">课程状态：</label>
          <div class="radio">
            <input type="radio" value="true" name="active" id="active-true" {{#if data}}{{#if data.active}}checked{{/if}}{{else}}checked{{/if}}><label for="active-true">开启</label>
            <input type="radio" value="" name="active" id="active-false" {{#if data}}{{#unless data.active}}checked{{/unless}}{{/if}}><label for="active-false">关闭</label>
          </div>
        </div>
      {{else}}
        <input type="hidden" name="active" value="true">
      {{/if}}
      <div class="input-group">
        <label for=""><span class="required">*</span>科目名称：</label>
        <div>
          <select name="subject_id" id="" {{#if data}}disabled{{/if}}>
            {{#each subjects}}
              <option value="{{id}}" {{getSelected ../data.subject_id id}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="input-group">
        <label for=""><span class="required">*</span>课程名称：</label>
        <div>
          <input type="text" name="name" maxlength="20" placeholder="请输入课程名，长度不超过20" value="{{data.name}}" required>
        </div>
      </div>
      <div class="input-group">
        <label for=""><span class="required">*</span>开始时间：</label>
        {{> '../../../partials/dateselect/view.hbs' defaultValue=data.start_time elClass='js-start-time' label='s'}}
      </div>
      <div class="input-group">
        <label for=""><span class="required">*</span>结束时间：</label>
        {{> '../../../partials/dateselect/view.hbs' defaultValue=data.end_time elClass='js-end-time' label='e'}}
      </div>
      {{!-- <div class="input-group">
        <label for=""><span class="required">*</span>开始时间：</label>
        <div>
          <input type="text" name="start_time" value="{{data.start_time}}" placeholder="格式：1999-09-01" required>
        </div>
      </div>
      <div class="input-group">
        <label for=""><span class="required">*</span>结束时间：</label>
        <div>
          <input type="text" name="end_time" value="{{data.end_time}}" placeholder="格式：1999-09-01" required>
        </div>
      </div> --}}
      <div class="input-group">
        <label for=""><span class="required">*</span>期数：</label>
        <div>
          <input type="number" name="period" maxlength="20" value="{{data.period}}" placeholder="请输入期数（正整数）" required>
        </div>
      </div>
      <div class="btn-group">
        <a href="javascript:;" class="btn btn-info js-close">取消</a>
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </form>
  </div>
</div>
