<div class="date select {{elClass}}" data-default='{{defaultValue}}'>
  <div class="fie">
    <select class='year' name="{{label}}[year]" id="">
      <option value="">请选择</option>
    </select>
    <label for="">年</label>
  </div>
  <div class="fie">
    <select class='month' name="{{label}}[month]" id="">
      <option value="">请选择</option>
    </select>
    <label for="">月</label>
  </div>
  <div class="fie">
    <select class='day' name="{{label}}[day]" id="">
      <option value="">请选择</option>
    </select>
    <label for="">日</label>
  </div>
</div>


